@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kumbh+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* container styling */

.app {
    max-width: 960px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    /* grid-template-rows: repeat(4, minimax (300px, auto)); */
    grid-gap: 20px;
    grid-template-areas: "main main aside " "aside1 aside2 aside ";
}

.container section {
    /* padding: 30px; */
    /* text-align: center; */
}


/* header section styling */

#header {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    /* justify-content: space-between; */
    grid-area: header;
    margin-bottom: 30px;
}

.logo {
    width: 10%;
}

.navlinks {
    width: 100%;
    /* padding-right: 200px; */
}

ul {
    /* display: inline; */
    /* padding-right: 200px; */
    /* padding: 10px; */
}

ul li {
    display: inline;
    text-decoration: none;
    padding-left: 55px;
    /* padding-right: 0px; */
}

ul li a {
    display: inline;
    padding: 5px;
    color: hsl(233, 8%, 79%);
    text-decoration: none;
    /* padding: 10px; */
}


/* main section styling */

#main {
    grid-column: 1/3;
    grid-row: 2/3;
    grid-area: main;
}

#bg-Image {
    width: 100%;
}


/* aside section styling */

#aside {
    /* grid-column: 3/5;
    grid-row: 2/4; */
    color: #fff;
    background: hsl(240, 100%, 5%);
    /* text-align: center; */
    padding: 10px;
    grid-area: aside;
    /* font-size: 16px; */
}

#aside h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(35, 77%, 62%);
}

.info {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 15px;
    color: hsl(36, 100%, 99%);
}

.info h3 {
    padding-bottom: 20px;
}

.info p {
    font-size: 15px;
    color: hsl(236, 13%, 42%);
    padding-bottom: 20px;
}

hr {
    color: hsl(36, 100%, 99%);
}


/* aside 1 section styling */

#aside1 {
    /* grid-column: 1/2; */
    /* background-color: aqua; */
    /* width: 100%; */
    color: hsl(240, 100%, 5%);
    /* grid-row: ; */
    grid-area: aside1;
}

#aside1 h1 {
    font-size: 50px;
    font-weight: 1000;
}


/* aside 2 section styling */

#aside2 {
    width: 100%;
    grid-area: aside2;
}

#aside2-text {
    color: hsl(233, 8%, 79%);
    /* font-size: 16px; */
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

button {
    background: hsl(5, 85%, 63%);
    color: #fff;
    width: 60%;
    border: none;
    padding: 10px;
    margin-top: 40px;
}


/* moreInfo section styling */

#moreInfor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 20px;
    grid-area: moreInfor;
}

.articleImage {
    display: grid;
    /* grid-gap: 5px; */
    grid-template-columns: 1fr 2fr;
    /* align-items: center; */
}

#artImage {
    width: 60%;
}

.article {
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}

.article-h3 {
    color: hsl(240, 100%, 5%);
    font-size: 17px;
    /* font-weight: 700; */
}